<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Composed-Health" value="https://nuget.pkg.github.com/Composed-Health/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Composed-Health>
      <add key="Username" value="GITHUB USERNAME HERE" />
      <add key="ClearTextPassword" value="PAT TOKEN HERE" />
    </Composed-Health>
  </packageSourceCredentials>
</configuration>
